---
import Layout from "../../layouts/Layout.astro"

---
<Layout title="New Post">
<form action="https://app.railstobreak.com/posts" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" placeholder="New Title" />
    
    <label for="body">Body</label>
    <textarea name="body" id="body" placeholder="Write new post here"></textarea>
    <div class="flex row gap-3 items-center mt-3">
    <label for="private" style="margin-top: 0">Private</label>
    <input type="checkbox" name="private" id="private" />
    </div>
    
    <input type="submit" value="Submit">
</form>
</Layout>

<style>
    form {
        display: flex;
        flex-direction: column;
        max-width: 75%;
        margin: 0 auto;
    }

    label {
        margin-top: 1rem;
    }

    input[type="text"],
    textarea {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-top: 0.5rem;
    }

    input[type="submit"] {
        margin-top: 1rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #ccc;
        cursor: pointer;
    }
</style>